*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Shop/nbproject/private/
/Shop/build/
/Shop/dist/
/raderas/nbproject/private/
/raderas/build/
/raderas/dist/
/westPanel/nbproject/private/
/westPanel/build/
/westPanel/dist/
/Uppgift 4/nbproject/private/
/Uppgift 4/build/
/Uppgift 4/dist/
/Uppgift 5/nbproject/private/
/Uppgift 5/build/
/Uppgift2/nbproject/private/
/Uppgift2/build/
/Uppgift3/nbproject/private/
/Uppgift3/build/
/Uppgift3/dist/
/Uppgift 4(2)/nbproject/private/